<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnimaliDataContextConnectionString" connectionString="User Id=root;Password=PerMaradona666;Database=animali;Persist Security Info=True" />
        <add name="DB_application.Properties.Settings.animaliConnectionString"
            connectionString="User Id=root;Password=PerMaradona666;Host=127.0.0.1;Database=animali"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>